.bg-container {
  background-size: cover;
  height: 100vh;
}

.chess {
  display: grid;
  grid-template-rows: repeat(8, minmax(30px, 100px));
  grid-template-columns: repeat(8, minmax(30px, 100px));

  /* border: 1px solid black; */
}

.div {
  border: 1px solid black;
}

div[light] {
  background-color: #ffe3bb;
}

div[dark] {
  background-color: #ffd28f;
}
