* {
  border: 2px dashed;
  margin: 10px;
  color: black;
  padding: 10px;
  text-align: center;
}
li {
  color: blue;
  margin: 10px;
}
div[flex] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li[fontsize] {
  font-size: 20px;
}
li[width] {
  width: 600px;
}
li[fontsizeWithPT] {
  font-size: 20pt;
}
li[fontsizeWithEM] {
  font-size: 1em;
}
li[fontsizeWithREM] {
  font-size: 1rem;
}
li[fontweight] {
  font-weight: bolder;
}

li[draggable] {
  color: red;
  border: 1px solid cadetblue;
}

img {
  width: 300px;
  height: 180px;
}

.class-selector {
  color: green;
  border: none;
}

ol {
  padding: 10px;
}

li[idselector] {
  color: #ed5ab3;
}
#idSelector {
  border: 4px dotted orangered;
}
