body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

a:hover {
  background-color: #776b5d;
  color: white;
}
.bg-container {
  display: flex;
  /* background-image: url("https://res.cloudinary.com/daoquetki/image/upload/v1699962547/samples/cup-on-a-table.jpg"); */

  /* background-color: #ce5a67; */
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 100vh;
  background-size: cover;
  background-color: #d2e3c8;
  color: black;
}

.anchor-element {
  font-size: 18px;
  text-decoration: none;
  color: black;
  background-color: B4BDFF;
  font-weight: 700;
  margin: 6px;
  padding: 6px;
  border-radius: 6px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: 1px solid;

  /* width: 10%; */
  background-color: #d2e3c8;
  height: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.dev-team {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid;
  width: 90%;
  /* background-color: #be3144; */
  height: 100%;
  border: 3px solid red;
}

.xencia-header-container {
  width: 100%;
  align-self: flex-start;
  border: 1px solid yellow;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #d2e3c8;
  /* text-decoration: unsderline; */
}
.xen-heading {
  text-align: center;
}
th {
  font-weight: 600;
  font-size: 24px;
}
label {
  border: 1px solid green;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

tr {
  height: 50px;
}

h1 {
  border: 1px solid crimson;
}
#checked {
  display: none;
}
/* #checked:checked ~ div {
  display: none;
} */

/* #checked:checked + div > li {
  display: block;
} */
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  padding: 20px;
  flex-wrap: wrap;
  width: 1060px;
}

.card {
  width: 300px;
  height: 150px;
  margin: 10px;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 60px;
  margin: 6px;
}
