.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}
.nav-container {
  /* align-self: flex-start; */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 400px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid green;
  margin-top: 30px;
}

div[buttons] {
  width: 900px;
  border: 2px solid salmon;
}
button {
  margin: 12px;
}

div[input] {
  width: 900px;
  /* border: 2px solid magenta; */
}

label[inputEl] {
  display: inline-block;
  width: 200px !important;
  border: 1px solid green;
}

input[inputEl] {
  display: inline-block;
  width: 600px;
}

#nav-profile,
#nav-contact,
#nav-contact,
#nav-academic,
#nav-skills {
  display: none;
}

#nav-home-tab {
  background-color: blue;
}

#nav-profile-tab,
#nav-contact-tab,
#nav-academic-tab,
#nav-skills-tab {
  background-color: red;
}
