.container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-auto-rows: 50px;
  min-height: 100vh;
}

.item {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005b41;
  color: #ffffff;
}

img[profile] {
  width: 150px;
  border-radius: 50%;
}

span {
  font-size: 50px;
}
