.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-size: cover;
}
.nav-container {
  /* align-self: flex-start; */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red;  */
}

div[buttons] {
  width: 900px;
  border: 2px solid salmon;
}

div[input] {
  width: 900px;
  /* border: 2px solid magenta; */
}

label[inputEl] {
  display: inline-block;
  width: 200px !important;
  border: 1px solid green;
}

input[inputEl] {
  display: inline-block;
  width: 600px;
}
